html {
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: url("/images/bg-mobile.svg");
    height: 100%;
    background-color: $Violet;
    color: white;

    @include breakpoint-up(large) {
        background-image: url("/images/bg-desktop.svg");
    }
}

header {
    padding: 40px 60px 20px 60px;

    img{
        height: 30px;

        @include breakpoint-up(large){
            height: 40px;
        }
    }
}

section {
    float: left;
    width: 100%;
    padding: 10px 60px 25px 60px;
    text-align: center;

    img {
        max-width: 95%;
        max-height: 100%;
    }

    .conten {
        padding: 40px;
    }
    h1 {
        font-family: "Poppins", sans-serif;
        font-size: 33px;
        margin-top: 40px;
    }

    p {
        font-family: "Open Sans", sans-serif;
        font-size: 15;
    }

    button {
        color: $Violet;
        background-color: white;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 25px;
    }

    button:hover {
        background-color: $SoftMagenta;
        color: White;
    }

    @include breakpoint-up(large) {
        width: 50%;
        text-align: left;
    }
}

footer {
    clear: both;
    margin-bottom: 0;
    text-align-last: center;
    padding: 0px 0px 30px 0px;

    a {
        text-align: center;
        border: 1px solid white;
        border-radius: 50%;
        margin: 0 10px;
    }

    a:hover {
        border: 1px solid $SoftMagenta;
        color: $SoftMagenta;
    }

    .fa {
        font-size: 20px;
        color: white;
    }

    .fa-facebook {
        padding: 14px 19px;
    }

    .fa-twitter,
    .fa-instagram {
        padding: 14px 15px;
    }

    @include breakpoint-up(large) {
        text-align-last: right;
        margin: 0px 100px 20px 0px;
    }
}
